body {
    background-color: blanchedalmond;
}

p {
    border: thin solid rgb(22, 21, 21);
    background-color: #cef8ce;
    font-family: 'Oswald', sans-serif;
}

section {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

div {
    border: thin solid black;
    background-color: #cef8ce;
    border-width: 5px;
    border-radius: 100px;
    width: 1000px;
    padding: 5px;
    margin: auto;
    box-shadow: 10px 10px 10px grey;
}

img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

/* section {
    justify-content: center;
    display:flex;
    flex-direction: row;
    width: 700px;
    margin:auto; 
    margin-left: 600px;
    margin-top: 300px; 
    border-style: solid;
    border-radius: 100px;
    border-color: rgb(245, 210, 145);
    background-color: rgb(193, 233, 233);
    padding: 10px; 

}*/

legend {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 250px;
    margin-left: 60px;
}

@keyframes headAnimation {
    0% {background-color: #feffd1;}
    25% {background-color: #f4f5a7;}
    50% {background-color: #eef074;}
    75% {background-color: #fcff44;}
    100% {background-color: #feffd1;}
}

header {
    font-size: 100px;
    border: solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    background-color: #feffd1;
    animation-name: headAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

canvas {
    max-width: 700px;
    max-height: 400px;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: rgb(0, 0, 0);
  
}