body {
    background-color: blanchedalmond;
}

img {
    width: 150px;
    height: 150px;
    margin: 25px;
    border-style: solid;
}

section {
    justify-content: center;
    display:flex;
    flex-direction: row;
    width: 700px;
    margin:auto; 
    margin-left: 600px;
    margin-top: 300px; 
    border-style: solid;
    border-radius: 100px;
    border-color: rgb(245, 210, 145);
    background-color: rgb(193, 233, 233);
    padding: 10px;

}

legend {
    display: flex;
    justify-content: center;
}

button {
    margin-top: 250px;
    margin-left: 60px;
}

header {
    font-size: 100px;
    border: solid;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    background-color: rgb(254, 255, 209);
}